{% extends mmc_fos_user_layout %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-warning">
  <p>{{ 'resetting.password_already_requested'|trans }}</p>
</div>
{% endblock fos_user_content %}
